@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --gradient-bg:  linear-gradient(45deg, #8cccc8, #aeaed7, #d38eda);
}

body {
    font-family: "SourceCodePro", monospace;
}

body::-webkit-scrollbar {
   width: 10px;
   background-color: rgb(235, 205, 205);
}

body::-webkit-scrollbar-thumb {
   width: 6px;
   background-image: linear-gradient(45deg, #8cccc8, #b524fd);
    border-radius: 10px;
}

@font-face {
    font-family: 'SourceCodePro', monospace;
    src: url('../assets/fonts/SourceCodePro-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'SourceCodePro', monospace;
    src: url('../assets/fonts/SourceCodePro-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'SourceCodePro', monospace;
    src: url('../assets/fonts/SourceCodePro-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'SourceCodePro', monospace;
    src: url('../assets/fonts/SourceCodePro-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'SourceCodePro', monospace;
    src: url('../assets/fonts/SourceCodePro-ExtraBold.ttf');
    font-weight: 800;
}

.btn-gradient {
    background-image: var(--gradient-bg);
}

.input-gradient {
    background-image: var(--gradient-bg);
}

.txt-shadow {
    text-shadow: -3px 3px 4px #b4adad;
}


.connect-wallet-btn {
    border-radius: 10px !important;
    width: fit-content !important;
}

.input-field {
    transition: background-image 1.8s ease-in-out;
}

.input-field:focus {
    background-image: var(--gradient-bg);
    color: #fff;
}

/* loading glass */
.loading {
    background: rgba(229, 221, 221, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
}

/* spinning logo */

.spin-logo {
    animation: spin 1.5s ease-in-out infinite alternate-reverse;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(180deg);
    }
}

/* banner for dekstop */
.banner {
    background-image: url("../assets/images/banner.jpg");
    object-fit: contain;
}

/* banner for tablet */
@media screen and(min-width: 400px) {
    .banner {
        background-image: url("../assets/images/mobile-banner.png");
        object-fit: cover;
    }
}

/* banner for mobile */
@media screen and(min-width: 700px) {
    .banner {
        background-image: url("../assets/images/mobile-banner.png");
        object-fit: cover;
    }
}
